.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.btn-login:hover {
    background-color: #0056b3;
  }

  .redirect-text {
    text-align: center;
    margin-top: 15px;
  }
  
  .redirect-text a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
  }
  
  .redirect-text a:hover {
    text-decoration: underline;
  }